.contacts_modal_search_field {
  font-size: 12px;
  line-height: normal;
  border: 1px solid #fff !important;
  border-radius: 2px;
  padding: 6px 27px 6px 30px;
  margin: 0;
  border: 0px;
  background-repeat: no-repeat;
  background-position: -6px -205px;
}
.contacts_modal_search_field:active {
  border: 0px !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}
.text-transform {
  text-transform: uppercase;
}
