.no-content {
  margin: 200px auto;
}
.form-control {
  resize: none;
}
.message-text {
  white-space: pre-line !important;
}
.text-truncate-max-w {
  max-width: 400px;
}
@media (max-width: 1300px) {
  .text-truncate-max-w {
    max-width: 400px !important;
  }
}
@media (max-width: 900px) {
  .text-truncate-max-w {
    max-width: 250px !important;
  }
}

@media (max-width: 768px) {
  .text-truncate-max-w {
    max-width: 100px !important;
  }
}
