.overlay:hover {
  background-color: #eeeeee;
}

.active-chat {
  background-color: #3a6d99;
  color: #fff !important;
}
.active-chat .text-muted {
  color: #fff !important;
}
.label-dark {
  background-color: #b3b3b3 !important;
}
.text-truncate-max {
  max-width: 200px !important;
}
@media (max-width: 1300px) {
  .text-truncate-max {
    max-width: 180px !important;
  }
}
@media (max-width: 900px) {
  .text-truncate-max {
    max-width: 160px !important;
  }
}

@media (max-width: 768px) {
  .text-truncate-max {
    max-width: 110px !important;
  }
}
