.overlay:hover {
  background-color: #eeeeee;
}

.active-chat {
  background-color: #3a6d99;
  color: #fff !important;
}
.active-chat .text-muted {
  color: #fff !important;
}
.label-dark {
  background-color: #b3b3b3 !important;
}
