@media (min-width: 992px) {
  .rtl .wrapper {
    margin: 40px 0;
    margin-right: 110px;
    padding-top: 10px;
    margin-left: 40px;
  }
}
.rtl .aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  width: 110px;
  z-index: 98;
  box-shadow: none;
  background-color: transparent;
}
.rtl .aside ul {
  padding: 0;
}
