$dk-font: IRANYekan, Poppins, sans-serif;

body {
  margin: 0;
  font-family: $dk-font !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tg-primary {
  color: #3a6d99 !important;
}
